{% extends 'form.html' %}
{% load socialaccount staticfiles %}
{% load bootstrap3 %}
{% block content %}

<style>
    .btn-kakao {
    color: #3c3c3c;
    background-color: #ffeb00;
    border-color: #ffde00;
    }

    .btn-naver {
        color: #fff;
        background-color: #1ec800;
        border-color: #34b31e;
    }

    .btn-facebook {
    color: #fff;
    background-color: #3B5998;
    border-color: #3B5998;
    }
</style>

<br>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form action="" method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class = "panel panel-default">
                    <div class = "panel-heading"></div>
                    <div class = "panel-body">
                    <h2>ProgreSV 해커톤 로그인 안내</h2>
                    <p>1인 1아이디를 위해 카카오톡 로그인을 합니다!!</p>
                        {% get_providers as providers %}
                        {% for provider in providers %}
                        <a title="{{ provider.name }}" href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}" class="btn btn-social btn-block btn-{{ provider.id }} ">
                            <h2 style="text-transform: uppercase;">{{ provider.name }} 계정으로 로그인</h2>
                        </a>
                        {% endfor %}
                    </div>
                    <div class = "panel-footer text-right">

                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

