{% extends 'form.html' %}
{% load socialaccount staticfiles %}
{% load bootstrap3 %}
{% block content %}

<style>
    .btn-kakao {
    color: #3c3c3c;
    background-color: #ffeb00;
    border-color: #ffde00;
}

    .btn-naver {
        color: #fff;
        background-color: #1ec800;
        border-color: #34b31e;
    }

    .btn-facebook {
    color: #fff;
    background-color: #3B5998;
    border-color: #3B5998;
</style>

<br>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-sm-6 col-md-offset-3">
            <form action="" method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class = "panel panel-default">
                    <div class = "panel-heading"></div>
                    <div class = "panel-body">
                        {% bootstrap_field form.username %}
                        {% bootstrap_field form.password %}
                    </div>
                    <div class = "panel-footer text-right">
                        <input type = "submit" class = "btn btn-default" value = "로그인"/>
                       <br>
                       <br>
                       <br>
                        <a title="facebook" href="{% url 'social:begin' 'facebook' %}?next={% url 'index' %}" scope=scope auth_params=auth_params %}" class="btn btn-social btn-block btn-facebook ">
                        facebook 계정으로 로그인
                        </a>
                       {% get_providers as providers %}
                        {% for provider in providers %}
                        <a title="{{ provider.name }}" href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}" class="btn btn-social btn-block btn-{{ provider.id }} ">
                            {{ provider.name }} 계정으로 로그인
                        </a>
                    {% endfor %}

                       {%if form.non_field_errors%}
                       <div>
                       <h5>아이디/패스워드를 정확히 입력하세요.</h5>
                       </div>
                       {% endif %}
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}

