{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Idea</h1>
                    <hr class="small">
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container-fluid">

        <div class="col-md-offset-1 col-md-10 col-sm-12">
            {%if user.is_authenticated %}
            <div class="text-right">
                <a href="{% url 'idea:idea_new' %}"><h4>[새 글쓰기]</h4></a>
            </div>
            {% endif %}

            <div class="show-like-table">
            {% for idea in idea_list %}
            <div class="col-md-4 col-sm-6 col-xs-12 wow slideInUp" data-wow-delay="0.1s">
                <div class="idea_container">
                    <div class="img_container container-fluid">
                        <a href="{% url 'idea:idea_detail' idea.pk %}">
                        {% if idea.image %}
                            {% thumbnail idea.image "150x100" crop="center" as im %}
                            <img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" class="img-responsive col-xs-12" alt="">
                            {% endthumbnail %}
                        {% else %}
                        <h3>{{idea.title}}</h3>
                        {% endif %}
                        </a>
                    </div>
                    <div class="idea_title">
                        <h3>{{idea.title}}</h3>
                        <div class="wrap"><i class="fa fa-user" aria-hidden="true"></i> {{idea.author.resume.name}}&nbsp득표수:{{idea.vote_set.count}}</div>
                        <div class="span12"><i class="fa fa-clock-o" aria-hidden="true"></i> {{idea.updated_at|date:'Y-m-d H:m'}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            <!-- Pager
             <ul class="pager">
                 <li class="next">
                     <a href="#">Older Posts &rarr;</a>
                 </li>
             </ul>
             -->
        </div>
    </div>

{% endblock %}
{% block script %}
<script>
    new WOW().init();
</script>
{% endblock %}
