{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load thumbnail %}
{% load idea_extras %}
{% block content %}


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/post-bg.jpg'%}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Respect, Diversity</h1>
                        <h1><span id="typed" style="white-space:pre; font-weight:35px"></span> of 2016</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up </h2>
                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<script>
    $(function (){
        $("#typed").typed({
            strings: ["greatest", "powerful", "ZZang", "Good"],
            typeSpeed: 55,
            backDelay: 500,
            loop: true,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            callback: function () {
            },
            resetCallback: function() { newTyped(); }
        });
        $(".reset").click(function(){
            $("#typed").typed('reset');
        });
    });
    function newTyped(){
    }
    function foo(){ console.log("Callback"); }
</script>

<style>
.social_img img {
    width : 100px;
    height: 100px;
}
</style>

<!-- Main Content -->
<div class="container">
    <div class = "social_img">
    <hr>
    <h3>참석자</h3>
    {% for kakao_value in kakaos.values %}
    <div>
        {{kakao_value|split:","|lookup:0}}
        <img src = "{{kakao_value|split:','|lookup:1}}">
    </div>
    {% endfor %}
    {% for facebook_id , facebook_name in facebooks.items %}
    <div>
        {{facebook_name}}
        <img src = "http://graph.facebook.com/{{facebook_id}}/picture?type=large">
    </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum molestiae debitis nobis, quod sapiente qui voluptatum, placeat magni repudiandae accusantium fugit quas labore non rerum possimus, corrupti enim modi! Et.</p>
        </div>
    </div>
</div>



{% endblock %}