{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/contact-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Location</h1>
                        <hr class="small">
                        <span class="subheading">Where we do</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div>
                    <hr class="small left">
                    <h2>오시는 길</h2>
                    <h3>서울대학교 연구공원</h3>
                    <p>서울 관악구 관악로 1(봉천동)</p>
                </div>
                <div id="map" style="width:300px;height:300px; "></div>
                <hr class="small left">
                <div>
                    <h2>교통수단</h2>
                    <h3>지하철</h3>
                    <div style="margin-left: 15px">
                        <p>
                        <h4>2호선</h4> 삼성역 방면 삼성역 5, 6번 출구와 직접 연결된 통로로 진입, 밀레니엄 광장을 통하여 코엑스몰로 진입
                        </p>

                        <p>
                        <h4>9호선</h4> 봉은사역 방면 봉은사역 7번출구 직접 연결된 통로로 진입, 아셈플라자를 통하여 코엑스몰로 진입
                        </p>

                        <p>
                        <h4>7호선</h4> 청담역 방면 청담역 2번 출구(진행방향 앞쪽)로 나온 후 도보로 약 10~15분 거리 직진, 아셈광장을 통해 진입
                        </p>
                    </div>

                    <h3>버스</h3>
                    <div style="margin-left: 15px">
                        <p>
                        <h4>그랜드 인터컨티넨탈 호텔(삼성역 5번 출구) 앞 | 23201 정류장</h4>
                        간선버스 – 146, 341, 360, 333, 740, N13(심야), N61(심야)
                        지선버스 – 6411
                        순환버스 – 41
                        공항리무진 – 6000
                        마을버스 – 강남07, 강남05
                        간선버스 – 1100, 1700, 2000, 2000-1, 7007, 8001, 9414
                        </p>

                        <p>
                        <h4>코엑스아티움(무역센터) 앞 | 23199 정류장</h4>
                        간선버스 – 143
                        지선버스 – 2413, 4419
                        공항리무진 – 도심터미널
                        마을버스 – 강남01, 강남06, 강남08
                        간선버스 – 9407, 9414, 9507, 9607
                        </p>

                        <p>
                        <h4>코엑스 동문 앞 | 23198 정류장</h4>
                        간선버스 – 146, 301, 401, 351, 352, N61(심야)
                        지선버스 – 2415, 3217, 3411, 3412, 3414, 4318
                        공항리무진 – 6006
                        마을버스 – 강남08
                        간선버스 – 9407, 9414, 9507, 9607
                        </p>

                        <p>
                        <h4>봉은사 건너편 | 23191 정류장</h4>
                        간선버스 – 351
                        지선버스 – 3411, 3412
                        공항리무진 – 강남심야노선
                        </p>

                        <p>
                        <h4>한국전력 앞 | 23197 정류장</h4>
                        간선버스 – 143, 146, 301, 401, 351, 352, N61(심야)
                        지선버스 – 2413, 2415, 3217, 3412, 3414, 3417, 4419, 4318
                        공항리무진 – 도심터미널, 도심터미널2
                        </p>
                    </div>

                    <h3>자동차</h3>
                    <div style="margin-left: 15px">
                        <p>
                        네비게이션에 다음의 주소를 입력하고 오세요.<br>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> 서울 관악구 관악로 1(봉천동)
                        </p>

                        <p>
                        <h4>주차안내</h4>
                        주차는 지원이 어려우며, 가급적 대중교통을 이용해 주세요.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=43b1479ac68b818b33dbfaa73b964878"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도의 중심좌표
            mapOption = {
                center: new daum.maps.LatLng(37.4657968, 126.95950199999993), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도에 마커를 표시합니다
        var marker = new daum.maps.Marker({
            map: map,
            position: new daum.maps.LatLng(37.4657968, 126.95950199999993)
        });

        // 마커에 커서가 오버됐을 때 마커 위에 표시할 인포윈도우를 생성합니다
        var iwContent = '<div style="padding:5px; font-size : 12px;">서울대학교 연구공원</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

        // 인포윈도우를 생성합니다
        var infowindow = new daum.maps.InfoWindow({
            content : iwContent
        });

        // 마커에 마우스오버 이벤트를 등록합니다
        daum.maps.event.addListener(marker, 'mouseover', function() {
          // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
            infowindow.open(map, marker);
        });

        // 마커에 마우스아웃 이벤트를 등록합니다
        daum.maps.event.addListener(marker, 'mouseout', function() {
            // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
            infowindow.close();
        });

    </script>


{% endblock %}
