{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/location.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading location">
                        <h1>Location</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div>
                    <hr class="small left">
                    <h2>오시는 길</h2>
                    <h3>서울대학교 대학원교육연구동(39동) 지하 강당</h3>
                    <p>서울시 관악구 신림동 산 56-1</p>
                </div>
                <div id="map" style="width:300px;height:300px; "></div>
                <hr class="small left">
                <div>
                    <h2>교통수단</h2>
                    <h3>지하철</h3>
                    <div style="margin-left: 15px">
                        <p>
                        <h4>서울대입구역</h4> 3번 출구로 나와 약 20m 직진 후 왼쪽의 5513 승차 -> 공대입구 하차 ->길 건너 차단기 보이는 방향으로 100m 직진 -> 39동 건물
                        </p>
                    </div>

                    <h3>자동차</h3>
                    <div style="margin-left: 15px">
                        <p>
                        네비게이션에 다음의 주소를 입력하고 오세요.<br>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> 서울시 관악구 신림동 산 56-1 서울대학교 대학원교육연구동<br>
                        <p></p>
                        남부순환도로에서 낙성대 방향 좌(강남부터)/우(신림부터)회전 -> 서울대 후문 방향 약 1.6km 직진 -> 후문 직전 좌회전 <br>-> 샛길로 100m 진입 검은색 유리건물
                        </p>

                        <p>
                        <h4>주차안내</h4>
                        주차는 학내시설 이용 가능하나 주차비가 높으니, 가능하면 대중교통을 이용해주세요.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script%}

    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=43b1479ac68b818b33dbfaa73b964878"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도의 중심좌표
            mapOption = {
                center: new daum.maps.LatLng(37.455033, 126.951469), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        // 지도에 마커를 표시합니다
        var marker = new daum.maps.Marker({
            map: map,
            position: new daum.maps.LatLng(37.455033, 126.951469)
        });
        // 마커에 커서가 오버됐을 때 마커 위에 표시할 인포윈도우를 생성합니다
        var iwContent = '<div style="padding:5px; font-size : 12px;">서울대학교 대학원교육연구동(39동)</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        // 인포윈도우를 생성합니다
        var infowindow = new daum.maps.InfoWindow({
            content : iwContent
        });
        // 마커에 마우스오버 이벤트를 등록합니다
        daum.maps.event.addListener(marker, 'mouseover', function() {
          // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
            infowindow.open(map, marker);
        });
        // 마커에 마우스아웃 이벤트를 등록합니다
        daum.maps.event.addListener(marker, 'mouseout', function() {
            // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
            infowindow.close();
        });
    </script>


<script>
    $(document).ready(function (){
        $('.page-heading.location').on('click', function (){
            location.href = '/idea/location/'
        })
    })
</script>
{% endblock %}
